table{
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    border-radius: 15px;
    /* overflow: hidden; */
}
.tbl{
    margin-top: 50px;
    height:400px;
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 5%;
    border-radius: 15px;
    overflow: hidden;
    overflow: scroll;
}
th, td{
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}
tr:nth-child(even){
    background-color: #f1f1f1;
}
tr:hover{
    background-color: #ddd;
}
th{
    background-color: #4CAF50;
    color: white;
}
.search{
    width: fit-content;
    padding: 12px ;
    /* margin: 8px 0; */
    margin-right: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.headr{
    display: flex;
    justify-content: space-between;
}
h1{
    margin-left: 15px;
}
.search input{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    width: fit-content;
    border-radius: 25px;
}
.srchbtn{
    background-color: #4CAF50;
    color: white;
    padding: 11px 10px 8px 10px;
    margin: 5px 10px 10px 2px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* width: 30%; */
}
.srchbtn:hover{
    background-color: #45a049;
}
.headr h1{
    margin-right: 15px;
    
}